# This file contain custom JNode properties used in the JNode build process.
#
# Copy this file to jnode.properties and edit that file as needed.
#

# -----------------------------------------------
# Settings for initjar building

# Set this directory to the directory containing custom plugin lists 
# if you have custom initjars to build.
# custom.plugin-list.dir = ${root.dir}/local/plugin-lists/

# Uncomment this property if you do not want the default initjars to be build.
# no.default.initjars = 1

# -----------------------------------------------
# Settings for the bootdisk image

# Uncomment this property if you do not want bootdisk image to be build.
# no.bootdisk = 1

# -----------------------------------------------
# Settings for the netboot build

# Uncomment this property if you do not want netboot directory to be build.
# no.netboot = 1

# -----------------------------------------------
# Settings for the memory manager

# Uncomment to enable future MMTk based memory manager (does not work yet)
# jnode.memmgr.plugin.id=org.mmtk

# -----------------------------------------------
# Settings for the document-plugins task

# Uncomment this if you want the document-plugins task to include a tree page.
# You must have dot installed for this, see http://www.graphviz.org/
# jnode.plugin.doc.tree = true
